defaults:
  - encoder: transformer_v1
  - decoder: transformer_v1
  - swipe_point_embedder: separate_traj_and_nearest__6_coord
  - feature_extractor: traj_and_nearest
  - _self_

num_classes: 35
max_out_seq_len: 35
d_model: 128

grid_name: default
grids_path: ./data/data_preprocessed/gridname_to_grid.json
trajectory_features_statistics_path: ./data/data_preprocessed/trajectory_features_statistics.json
bounding_boxes_path: ./data/data_preprocessed/key_bounding_boxes.json
keyboard_tokenizer_path: ./tokenizers/keyboard/ru.json
vocab_path: ./data/data_preprocessed/voc.txt

dataset_paths:
  train: ./data/data_preprocessed/train_filtered.jsonl
  val: ./data/data_preprocessed/valid.jsonl


# Experiment naming (auto-derived if not specified)
experiment_name: null
experiment_name_suffix: null

train_total: 5591814
val_total: 10000

train_batch_size: 256
val_batch_size: 512
dataloader_num_workers: 4
label_smoothing: 0.045

optimizer:
  type: Adam
  params:
    lr: 1.0e-4
    weight_decay: 0.0
  no_decay_keys: null

lr_scheduler:
  type: ReduceLROnPlateau
  params:
    factor: 0.5
    patience: 8

early_stopping:
  enabled: false
  patience: 30

val_check_interval: 3000
path_to_continue_checkpoint: null
max_epochs: null

device: cuda
trainer_precision: 16-mixed
float32_matmul_precision: medium

seed: 42

log_dir: ./lightning_logs
checkpoint_dir: ./checkpoints
